

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="description" content="Free Responsive Html5 Css3 Templates Designed by Kimmy | zerotheme.com">
	<meta name="author" content="www.zerotheme.com">

    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="{% static 'home/css/zerogrid.css' %}">
	<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/responsive.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block header %}
    <div class="wrap-body">

    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}

    </div>
    {% endblock %}
</body>
</html>