{% extends 'home/base.html' %}
{% load static %}
{% block title %}Contacts{% endblock %}


{% block content %}
{% include 'home/header.html' %}
<section id="content">
	<div class="wrap-content zerogrid">
		<div class="row block">
			<div id="main-content" class="col-2-3">
				<div class="row">
					<div class="col-full">
                        <p>Our contacts</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consectetur ducimus eius facere
                            ipsum magni nemo obcaecati placeat porro ratione repellat repellendus repudiandae rerum tempora
                            temporibus tenetur voluptate, voluptatem voluptates.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% include 'home/footer.html' %}
{% endblock %}