{% load static %}
<footer>
	<div class="wrap-footer zerogrid">
		<div class="row">
			<div class="col-1-3">
				<div class="wrap-col">
					<div class="box">
						<div class="heading"><h4 class="title">Image Gallery</h4></div>
						<div class="content gallery">
							<a href="#"><img src="{% static 'home/img/img5.jpg' %}" width="120"/></a><a href="#"><img src="{% static 'home/img/img4.jpg' %}" width="120"/></a>
							<a href="#"><img src="{% static 'home/img/img3.jpg' %}" width="120"/></a><a href="#"><img src="{% static 'home/img/img2.jpg' %}" width="120"/></a>
							<a href="#"><img src="{% static 'home/img/img1.jpg' %}" width="120"/></a><a href="#"><img src="{% static 'home/img/img4.jpg' %}" width="120"/></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-1-3">
				<div class="wrap-col">
					<div class="box">
						<div class="heading"><h4 class="title">About Us</h4></div>
						<div class="content">
							<a href="https://www.zerotheme.com" target="_blank"><img src="{% static 'home/img/zerotheme.png' %}" style="border: 0px; margin: 10px 0;"/></a>
							<p><a href="https://www.zerotheme.com" target="_blank">Free Html5 Templates</a> created by <a href="https://www.zerotheme.com">ZEROTHEME</a>. You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-1-3">
				<div class="wrap-col">
					<div class="box">
						<div class="heading"><h4 class="title">Contact Us</h4></div>
						<div class="content">
							<p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas.</p>
							<p>Website : <a href="https://www.zerotheme.com" target="_blank">www.zerotheme.com</a></p>
							<p>+1 (123) 444-5677 <br/> +1 (123) 444-5678</p>
							<p>Address: 123 TemplateAccess Rd1</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<p>Copyright © 2012 - Designed by <a href="https://www.zerotheme.com" title="free website templates">ZEROTHEME</a></p>
	</div>
</footer>