{% load static %}
<header>
        <div class="wrap-header zerogrid">
            <div id="logo"><a href="https://www.zerotheme.com"><img src="{% static 'home/img/logo.png' %}"/></a></div>
            <nav>
                <div class="wrap-nav">
                    <div class="menu">
                        <ul>
                            <li><a href="{% url 'post_list' %}">Home</a></li>
                            <li><a href="{% url 'blog' %}">Blog</a></li>
                            <li><a href="{% url 'gallery' %}">Gallery</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'contacts' %}">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>